/*-- scss:defaults --*/

$font-family-sans-serif: "Lora";
// $font-family-monospace: "Lora";
$bs-body-font-family: "Lora";
$web-font-path: "No";

/*-- scss:rules --*/

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'),
       url('fonts/lora-v15-latin-regular.woff2') format('woff2'),
       url('fonts/lora-v15-latin-regular.woff') format('woff');
}

/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'),
       url('fonts/lora-v15-latin-italic.woff2') format('woff2'),
       url('fonts/lora-v15-latin-italic.woff') format('woff');
}

/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'),
       url('fonts/lora-v15-latin-700.woff2') format('woff2'),
       url('fonts/lora-v15-latin-700.woff') format('woff');
}

/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
       url('fonts/lora-v15-latin-700italic.woff2') format('woff2'),
       url('fonts/lora-v15-latin-700italic.woff') format('woff');
}
/* marcellus-sc-regular - latin */
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'),
       url('fonts/marcellus-sc-v7-latin-regular.woff2') format('woff2'),
       url('fonts/marcellus-sc-v7-latin-regular.woff') format('woff');
}

.vocab {
  color: #008B72;
}

.quarto-title-meta {
  font-size: 22px;
}

.cooltip {
  background: #E8F5E9; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 15px; 
  border-color: #008b72; 
  border-radius: 15px; 
  border-style: solid;
}


.chilltip {
  background: #E7E6FF; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 15px; 
  border-color: #6c5ce7; 
  border-radius: 15px; 
  border-style: solid;
}


.hottip {
  background: #FFEBEE; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 15px; 
  border-color: #e74c3c; 
  border-radius: 15px; 
  border-style: solid;
}

.bluetip {
  background: #E1EDFF; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 15px; 
  border-color: #0984e3; 
  border-radius: 15px; 
  border-style: solid;
}